body{
	background-color: lightgray;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  font-size:20px;
  text-decoration: underline;
}
div{
	background-image: url('google.jpg');
	background-repeat: no-repeat;
	  background-size: cover;
}
th, td {
  padding: 15px;
}
th {
  text-align:center;
}ul li {
  float: left;
}
#a{
	background-color: yellow;
}
.b{
	background-color: cyan;
}