* {
  box-sizing: border-box;
  }

body {
	font-family: Arial;
	margin: 0;
      }
header {
  	padding: 60px;
	text-align: center;
	color: white;
       }
.row {  
	display: flex;
	flex-wrap: wrap;
     }
aside {
	flex:11%;
	background-color: cyan;
	padding: 20px;
	
       }

section{	 	
	background-color: pink;
	flex: 89%;
	background-color: #f1f1f1;
	padding: 20px;
	height: 730px;  
       }
div{
	display:flex;
	flex-direction:row;
	color: white;
	margin: 10px;
	text-align: center;
	line-height: 90px;
	font-size: 30px; 
   }
span{
	display:flex;
	flex-direction:row;
	color: white;	
	margin: 10px;
	margin-left:0;
	text-align: center;
	line-height: 90px;
	font-size: 30px;  
}
.b1,.b2,.blk1,.blk2,.blk3{
			background-color: pink;
			flex: 25px;
			padding: 20px;
			height: 200px;
			align-content: center;	
			 }

footer {
	padding:20px;
	text-align: center;
	color: #FFFFE0;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  				header,footer {background: #D2691E;padding: 20px;min-width: 500px;}
  				aside{min-height: 10px;min-width: 500px;}.row{min-width: 500px;}
					  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 			 header,footer {background: #DC143C;}
  
					   }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 			 header,footer {background: #E9967A;
 				       }
					  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  			header,footer {background: #8FBC8F;padding: 20px;min-width: 500px;}
  			aside{min-height: 150px}.row{min-width: 500px;}
					  } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  					header,footer {background: #483D8B;
  						      }
}